.heroSection {
  background-image: url("/heroBg.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 98.9vw;
}

.heroSectionDiv {
  border-radius: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family);
  background: rgba(0, 0, 0, 0.3);
}

.textContainer {
  margin: 0 auto;
}

.heroSectionh2 {
  font-weight: 700;
  background-image: linear-gradient(
    160deg,
    rgba(255, 255, 255, 1),
    rgb(255, 255, 255) 66.90644266773134%,
    rgba(0, 0, 0, 0) 94.2195452108111%
  );
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(0em, calc(calc(1.3em - var(--framer-line-height, 1.3em)) / 2));
  margin: min(0em, calc(calc(1.3em - var(--framer-line-height, 1.3em)) / -2));
  letter-spacing: -0.05em;
  line-height: 1.1em;
  paragraph-spacing: 1px;
}

.heroSectionh2subtitle {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

.heroSectionButtonDiv {
  margin-top: 30px;
  border-radius: 44px;
  border: 3.5px solid rgb(29, 29, 29);
  border-bottom: 5px solid rgb(29, 29, 29);
  border-right: 6px solid rgb(29, 29, 29);
  box-shadow: -1px -1.6px 0 0.5px gray;
}

.heroSectionButton {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(125, 177, 255) 0%,
    rgb(81, 112, 237) 60%,
    rgb(55, 70, 171) 100%
  );
  color: white;
  padding: 14.5px 35px;
  border: none;
  border-radius: 44px;
  font-size: 16px;
  cursor: pointer;
  transition: padding 0.3s ease-in, box-shadow 0.2s ease-in;
  overflow: hidden;
}

.heroSectionButton:hover,
.heroSectionButton:focus {
  padding: 14.5px 55px;
  box-shadow: inset -10em 0em 0 1em rgb(29, 29, 29);
  transition: padding ease-in 0.3s, box-shadow ease-in 0.3s;
}

.heroSectionButton:hover::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 8px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 1;
  transition: background-color ease-in-out 0.3s;
  animation: bounce 0.8s infinite;
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(90%) translateX(-82px) translateZ(-90px) scale(0.5);
    border: 2px solid white;
  }

  50% {
    transform: translateY(90%) translateX(-82px) translateZ(-90px) scale(1.1);
    border: 2px solid white;
  }
}

.heroSectionButton:hover::after {
  content: "";
  position: absolute;
  height: 12%;
  width: 1%;
  background-color: transparent;
  border-right: 0.1px solid white;
  border-radius: 150%;
  z-index: 0;
  opacity: 0;
  transform: translateY(-240.5%) translateX(-66.5px);
  animation: signal 0.5s infinite;
  animation-delay: 0.3s;
}

@keyframes signal {
  0% {
    opacity: 1;
    transform: translateY(-250%) translateX(-66.5px);
  }

  10% {
    opacity: 0;
    transform: translateY(-250%) translateX(-66.3px);
    /* Increase by 0.2px */
  }

  20% {
    opacity: 1;
    transform: translateY(-250%) translateX(-66.1px);
    /* Increase by 0.2px */
  }

  30% {
    opacity: 0;
    transform: translateY(-250%) translateX(-65.9px);
    /* Increase by 0.2px */
  }

  40% {
    opacity: 1;
    transform: translateY(-250%) translateX(-65.7px);
    /* Increase by 0.2px */
  }

  50% {
    opacity: 0;
    transform: translateY(-250%) translateX(-65.5px);
    /* Increase by 0.2px */
  }

  60% {
    opacity: 1;
    transform: translateY(-250%) translateX(-65.3px);
    /* Increase by 0.2px */
  }

  70% {
    opacity: 0;
    transform: translateY(-250%) translateX(-65.1px);
    /* Increase by 0.2px */
  }

  80% {
    opacity: 1;
    transform: translateY(-250%) translateX(-64.9px);
    /* Increase by 0.2px */
  }

  90% {
    opacity: 0;
    transform: translateY(-250%) translateX(-64.7px);
    /* Increase by 0.2px */
  }

  100% {
    opacity: 1;
    transform: translateY(-250%) translateX(-64.5px);
    /* Increase by 0.2px */
  }
}

.heroSectionButton:hover .heroSectionButtonSpan::after {
  content: "";
  position: absolute;
  height: 8%;
  width: 1%;
  background-color: transparent;
  border-right: 0.1px solid white;
  border-radius: 150%;
  z-index: 0;
  transform: translateY(210.5%) translateX(-67px);
  opacity: 0;
  animation: signal2 0.7s infinite;
  animation-delay: 0.6s;
}

@keyframes signal2 {
  0% {
    opacity: 1;
    transform: translateY(210.5%) translateX(-67.5px);
  }

  10% {
    opacity: 0;
    transform: translateY(210.5%) translateX(-67.3px);
    /* Increase by 0.2px */
  }

  20% {
    opacity: 1;
    transform: translateY(210.5%) translateX(-67.1px);
    /* Increase by 0.2px */
  }

  30% {
    opacity: 0;
    transform: translateY(210.5%) translateX(-66.9px);
    /* Increase by 0.2px */
  }

  40% {
    opacity: 1;
    transform: translateY(210.5%) translateX(-66.7px);
    /* Increase by 0.2px */
  }

  50% {
    opacity: 0;
    transform: translateY(210.5%) translateX(-66.5px);
    /* Increase by 0.2px */
  }

  60% {
    opacity: 1;
    transform: translateY(210.5%) translateX(-66.3px);
    /* Increase by 0.2px */
  }

  70% {
    opacity: 0;
    transform: translateY(210.5%) translateX(-66.1px);
    /* Increase by 0.2px */
  }

  80% {
    opacity: 1;
    transform: translateY(210.5%) translateX(-65.9px);
    /* Increase by 0.2px */
  }

  90% {
    opacity: 0;
    transform: translateY(210.5%) translateX(-65.7px);
    /* Increase by 0.2px */
  }

  100% {
    opacity: 1;
    transform: translateY(210.5%) translateX(-65.5px);
    /* Increase by 0.2px */
  }
}

.heroSectionButtonP {
  font-weight: 700;
  font-family: var(--font-family);
}

.heroSectionButtonInnerDiv:hover {
  box-shadow: -1px -1.6px 0 0.5px gray;
  border-radius: 44px;
  height: 100%;
  width: 100%;
  transition: box-shadow 0.3s ease-in;
}

.parallexLayer2 {
  background-color: #0d0d0d;
}

.parallexLayer2Div {
  text-align: center;
  height: 100%;
  padding: min(0em, calc(calc(1.3em - var(1em, 1.3em)) / -2));
  margin: min(0em, calc(calc(1.3em - var(1em, 1.3em)) / -2));
}

.parallexText {
  background-image: linear-gradient(
    132deg,
    rgba(255, 255, 255, 1),
    rgb(255, 255, 255) 11.682368062196925%,
    rgba(0, 0, 0, 0) 100%
  );
  font-family: var(--font-family);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  letter-spacing: -0.05em;
  font-weight: 700;
  transition: font-size 0.3s ease-in, transform 0.3s ease-in;
  --file-line-width: 100% !important;
  font-size: 15vw;
}

.parallexLayer2Heading {
  width: 100%;
}

.parallax-container {
  position: relative;
  background-color: #0d0d0d;
}

.parallexLayer2DivVideo {
  margin: auto;
  height: auto;
}

.parallexLayer2DivVideoDiv {
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-in width 0.3s ease-in;
}

@media (max-width: 799px) {
  .parallexLayer2DivVideoDiv {
    height: 60vh;
  }
}
